* {
    font-family: "자이언츠 Regular", "UD Digi Kyokasho NK-B";
}

body {
    margin: 0px !important;
}

#header {
    width: 98.7%;
    height: 100px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainLogo {
    size: 20px;
    text-align: center;
    margin-left: 50px;
}

#logoImage {
    width: 200px;
    height: 68px;
}

#wrap {
    width: 1300px;
    padding-left: 0;
    display: flex;
}

ul:first-child {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 800px;
}

ul:last-child {
    display: flex;
    justify-content: right;
    width: 300px;
}

ul:last-child a {
    width: 200px;
    font-size: small;
}

ul:last-child li {
    line-height: 4;
}

ul > a {
    text-decoration: none;
    color: white;
    width: 200px;
    font-size: larger;
}

#logout-btn {
    width: 130px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin: 0;
}

li {
    margin: 0 20px;
    list-style: none;
    text-align: center;
    line-height: 3em;
    font-size: larger;
    opacity: 1;
    transition: opacity 0.3s ease;
}

li:hover {
    opacity: 0.5;
}

#auth {
    width: 400px;
    padding: 0;
}

#userName {
    width: 200px;
    margin-right: 150px;
}

#footer {
    width: 98.7%;
    height: 200px;
    background-color: black;
    color: white;
    padding: 20px 10px 20px 10px;
    font-weight: 0.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 50px;
}

#teamHomepageLinks {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

#centralTeams {
    margin-left: 180px;
}

#pacificTeams {
    margin-right: 180px;
}

.teamLogos {
    width: 50px;
    height: 50px;
    margin: 0 20px 0 20px;
    opacity: 1;
    transition: 0.5s ease;
}

.teamLogos:hover {
    opacity: 0.5;
}

.pacificLogo {
    width: 100px;
    height: 50px;
    margin: 0 20px 0 20px;
}

#footer a {
    text-decoration: none;
    color: white;
    opacity: 1;
    transition: 0.5s ease;
}

#footer a:hover {
    opacity: 0.9;
}
