/*-------------팀 정보 표시 관련----------------------*/
#test {
    justify-content: center;
}

#teamInfoContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#teamLogo {
    width: 350px;
    height: 350px;
}

h1 {
    font-size: 3em;
}

#teamInfo {
    margin-left: 50px;
}

#teamInfo * {
    width: 600px;
}

#winNumber {
    word-wrap: break-word;
}

#homeStadium,
#homepage {
    text-decoration: none;
    color: black;
    opacity: 1;
    transition: 0.3s ease;
}

#homeStadium:hover,
#homepage:hover {
    opacity: 0.5;
}

/*-------------메뉴 바------------------*/
#menus {
    display: flex;
    width: 900px;
    margin-left: 310px;
    cursor: pointer;
}

#menus * {
    width: 300px;
    height: 100px;
    line-height: 4;
    text-align: center;
    border: 1px solid black;
    opacity: 1;
    transition: 0.5s ease;
}

#menus *:hover {
    opacity: 0.5;
}

/*-------------응원 댓글 섹션------------------*/

#comment-container {
    width: 800px;
    display: none;
    position: relative;
    left: 350px;
}

#comment-container div {
    width: 800px;
    height: 100px;
    border-bottom: 1px solid black;
}

#comment_content {
    margin-top: 20px;
    width: 730px;
    height: 100px;
}

#register_button {
    width: 50px;
    height: 100px;
}

#test3 {
    display: none;
}
