/*-------------팀 정보 표시 관련----------------------*/
#teamInfoContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#teamLogo {
    width: 350px;
    height: 350px;
}

h1 {
    font-size: 3em;
}

#teamInfo {
    margin-left: 50px;
}

#teamInfo * {
    width: 600px;
}

#winNumber {
    word-wrap: break-word;
}

#homeStadium,
#homepage {
    text-decoration: none;
    color: black;
    opacity: 1;
    transition: 0.3s ease;
}

#homeStadium:hover,
#homepage:hover {
    opacity: 0.5;
}
